

.container {
    margin: 0px auto;
    padding: 0px;
  }
  
  #main { 
    background: #3B3B3B;
    height: 430px;
  }
  
  .content {
    padding: 10px 44px;
  }
  
  .text {
    border-bottom: 1px solid #262626;
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .text h2 {
    color: #E5E5E5;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 2px;
  }
  
  .counter {
    background: #2C2C2C;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
    min-height: 150px;
    text-align: center;
  }
  
  .counter h3 {
    color: #E5E5E5;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  
  #countdown {
    color: #FFFFFF;
  }
  
  #countdown span {
    color: #E5E5E5;
    font-size: 30px;
    font-weight: normal;
    margin-right: 20px;
    text-align: center;
  }


  @media (max-width: 768px) {
    #countdown span {
        color: #E5E5E5;
        font-size: 20px;
        font-weight: normal;
        margin-left: 10px;
        text-align: center;
      }
}



/* Styling for the custom toggle button */
.custom-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Styling for the menu icon */
.menu-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #000; /* Adjust as needed */
    border-radius: 4px; /* Adjust as needed */
}

/* Styling for the active state of the menu icon */
.menu-icon.active {
    background-color: #fff; /* Adjust as needed */
}